<form [formGroup]="accountCreation">
    <label>
        <span>Account Number</span>
        <input type="text" formControlName="accountNum">
    </label>
    <label>
        <span>Bank Name</span>
        <input type="text" formControlName="bank">

    </label>
    <label>
        <span>Branch</span>
        <input type="text" formControlName="branch">

    </label>
    <label>
        <span>Account Type</span>
        <input type="text" formControlName="accountType">
    </label>
    <label>
        <span>Bank Name</span>
        <input type="text" formControlName="status">
    </label>

    <button>
        Create Account
    </button>
</form>